<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>

    <h1>The Teacher Form</h1>
    <form action='' method="post">
        {% csrf_token %}

        {% for fields in form  %}
        {{fields.label_tag}}
        {{fields}}
        {{fields.errors}} <br> <br>
        {% endfor %}
    
        

        <!-- {{form.email.label_tag}}
        {{form.email}}
        {{form.email.errors}} <br> <br>

        {{form.phone_number.label_tag}}
        {{form.phone_number}}
        {{form.phone_number.errors}} <br> <br> -->
        

        <button type="submit" > Submit
        </button>
    </form>
    
</body>
</html>